Repository krahets/hello-algo, pull requests merged in 2024-08, with the labels that each got.

#1471 translation: Refine the first paragraph of Time Complexity
  en/docs/chapter_computational_complexity/time_complexity.md
Labels: translation, documents

#1477 remove extra space
  docs/chapter_array_and_linkedlist/summary.md
  docs/chapter_greedy/max_capacity_problem.md
  docs/chapter_introduction/algorithms_are_everywhere.md
  zh-hant/docs/chapter_array_and_linkedlist/summary.md
  zh-hant/docs/chapter_greedy/max_capacity_problem.md
  zh-hant/docs/chapter_introduction/algorithms_are_everywhere.md
Labels: bug, documents

#1478 add a period at the end
  docs/index.md
Labels: bug, documents

#1474 [cpp] Stick with swap
  codes/cpp/chapter_sorting/quick_sort.cpp
Labels: bug, code

#1485 idiomatic rust
  codes/rust/chapter_backtracking/n_queens.rs
  codes/rust/chapter_backtracking/subset_sum_i.rs
  codes/rust/chapter_backtracking/subset_sum_i_naive.rs
  codes/rust/chapter_backtracking/subset_sum_ii.rs
Labels: code, embellishment

#1487 fix(backtracking): minor mistake in Rust code for subset_sum_ii
  codes/rust/chapter_backtracking/subset_sum_ii.rs
  zh-hant/codes/rust/chapter_backtracking/subset_sum_ii.rs
Labels: bug, code
