Repository krahets/hello-algo, pull requests merged in 2024-10, with the labels that each got.

#1524 Update avl_tree.md
  docs/chapter_tree/avl_tree.md
Labels: bug, documents

#1528 restructure rust code, using library way, not include
  codes/rust/chapter_array_and_linkedlist/array.rs
  codes/rust/chapter_array_and_linkedlist/linked_list.rs
  codes/rust/chapter_array_and_linkedlist/list.rs
  codes/rust/chapter_array_and_linkedlist/my_list.rs
  codes/rust/chapter_backtracking/preorder_traversal_i_compact.rs
  codes/rust/chapter_backtracking/preorder_traversal_ii_compact.rs
  codes/rust/chapter_backtracking/preorder_traversal_iii_compact.rs
  codes/rust/chapter_backtracking/preorder_traversal_iii_template.rs
  codes/rust/chapter_computational_complexity/space_complexity.rs
  codes/rust/chapter_computational_complexity/worst_best_time_complexity.rs
  codes/rust/chapter_divide_and_conquer/build_tree.rs
  codes/rust/chapter_graph/graph_adjacency_list.rs
  codes/rust/chapter_hashing/build_in_hash.rs
  codes/rust/chapter_hashing/hash_map.rs
  codes/rust/chapter_heap/heap.rs
  codes/rust/chapter_heap/my_heap.rs
  codes/rust/chapter_heap/top_k.rs
  codes/rust/chapter_searching/hashing_search.rs
  codes/rust/chapter_searching/linear_search.rs
  codes/rust/chapter_searching/two_sum.rs
  codes/rust/chapter_sorting/bubble_sort.rs
  codes/rust/chapter_sorting/bucket_sort.rs
  codes/rust/chapter_sorting/counting_sort.rs
  codes/rust/chapter_sorting/heap_sort.rs
  codes/rust/chapter_sorting/insertion_sort.rs
  codes/rust/chapter_sorting/radix_sort.rs
  codes/rust/chapter_sorting/selection_sort.rs
  codes/rust/chapter_stack_and_queue/array_deque.rs
  codes/rust/chapter_stack_and_queue/array_stack.rs
  codes/rust/chapter_stack_and_queue/deque.rs
  codes/rust/chapter_stack_and_queue/linkedlist_deque.rs
  codes/rust/chapter_stack_and_queue/linkedlist_queue.rs
  codes/rust/chapter_stack_and_queue/linkedlist_stack.rs
  codes/rust/chapter_stack_and_queue/queue.rs
  codes/rust/chapter_stack_and_queue/stack.rs
  codes/rust/chapter_tree/array_binary_tree.rs
  codes/rust/chapter_tree/avl_tree.rs
  codes/rust/chapter_tree/binary_search_tree.rs
  codes/rust/chapter_tree/binary_tree.rs
  codes/rust/chapter_tree/binary_tree_bfs.rs
  codes/rust/chapter_tree/binary_tree_dfs.rs
  codes/rust/src/include/list_node.rs
  codes/rust/src/include/mod.rs
  codes/rust/src/include/print_util.rs
  codes/rust/src/include/tree_node.rs
  codes/rust/src/include/vertex.rs
  codes/rust/src/lib.rs
Labels: code, embellishment

#1501 doc: translate chapter_tree/index.md to English
  en/docs/chapter_tree/index.md
Labels: translation, documents

#1540 fix some typos
  codes/csharp/chapter_dynamic_programming/min_path_sum.cs
  codes/dart/chapter_dynamic_programming/min_path_sum.dart
  codes/go/chapter_dynamic_programming/min_path_sum_test.go
  codes/python/chapter_dynamic_programming/min_path_sum.py
  codes/ruby/chapter_dynamic_programming/min_path_sum.rb
  codes/swift/chapter_dynamic_programming/min_path_sum.swift
Labels: bug, code
