Repository krahets/hello-algo, pull requests merged in 2024-05, with the labels that each got.

#1329 Maintain the same semantics as other languages in n_queens.go
  codes/go/chapter_backtracking/n_queens.go
Labels: bug, code

#1334 Update graph_traversal.md
  en/docs/chapter_graph/graph_traversal.md
Labels: bug, translation, documents

#1333 feat: Add Ruby code - chapter "Sorting"
  codes/ruby/chapter_sorting/bubble_sort.rb
  codes/ruby/chapter_sorting/counting_sort.rb
  codes/ruby/chapter_sorting/radix_sort.rb
  codes/ruby/chapter_sorting/selection_sort.rb
Labels: code

#1153 translation: Update hash_collision.md
  en/docs/chapter_hashing/hash_collision.md
Labels: translation, documents

#1287 Translation: Update binary_tree.md
  en/docs/chapter_tree/binary_tree.md
Labels: translation, documents

#1344 Update heap.md
  docs/chapter_heap/heap.md
Labels: bug, documents

#1353 [Rust] Fix panic when array's len is less than 2
  codes/rust/chapter_sorting/heap_sort.rs
Labels: bug, code

#1352 [Rust] Stick with swap
  codes/rust/chapter_sorting/bubble_sort.rs
  codes/rust/chapter_sorting/heap_sort.rs
Labels: code, embellishment

#1361 feat: Add Ruby code - chapter "Divide and Conquer"
  codes/ruby/chapter_divide_and_conquer/binary_search_recur.rb
  codes/ruby/chapter_divide_and_conquer/build_tree.rb
  codes/ruby/chapter_divide_and_conquer/hanota.rb
Labels: code

#1357 [Rust] Use arrays instead of vectors in Chapter 4.1 Array
  codes/rust/chapter_array_and_linkedlist/array.rs
  docs/chapter_array_and_linkedlist/array.md
  en/docs/chapter_array_and_linkedlist/array.md
  zh-hant/codes/rust/chapter_array_and_linkedlist/array.rs
  zh-hant/docs/chapter_array_and_linkedlist/array.md
Labels: code

#1363 [Rust] Normalize mid calculation in case overflow
  codes/c/chapter_sorting/merge_sort.c
  codes/cpp/chapter_sorting/merge_sort.cpp
  codes/csharp/chapter_sorting/merge_sort.cs
  codes/dart/chapter_sorting/merge_sort.dart
  codes/go/chapter_sorting/merge_sort.go
  codes/java/chapter_sorting/merge_sort.java
  codes/javascript/chapter_sorting/merge_sort.js
  codes/kotlin/chapter_sorting/merge_sort.kt
  codes/python/chapter_sorting/merge_sort.py
  codes/ruby/chapter_sorting/merge_sort.rb
  codes/rust/chapter_divide_and_conquer/binary_search_recur.rs
  codes/rust/chapter_sorting/merge_sort.rs
  codes/rust/chapter_sorting/radix_sort.rs
  codes/swift/chapter_sorting/merge_sort.swift
  codes/swift/chapter_sorting/quick_sort.swift
  codes/typescript/chapter_sorting/merge_sort.ts
  codes/zig/chapter_sorting/merge_sort.zig
  codes/zig/chapter_tree/binary_search_tree.zig
  en/codes/cpp/chapter_divide_and_conquer/binary_search_recur.cpp
  en/codes/cpp/chapter_sorting/merge_sort.cpp
  en/codes/java/chapter_divide_and_conquer/binary_search_recur.java
  en/codes/java/chapter_sorting/merge_sort.java
  en/codes/python/chapter_searching/binary_search.py
  en/codes/python/chapter_searching/binary_search_insertion.py
  en/codes/python/chapter_sorting/merge_sort.py
  zh-hant/codes/c/chapter_sorting/merge_sort.c
  zh-hant/codes/cpp/chapter_sorting/merge_sort.cpp
  zh-hant/codes/csharp/chapter_sorting/merge_sort.cs
  zh-hant/codes/dart/chapter_sorting/merge_sort.dart
  zh-hant/codes/go/chapter_sorting/merge_sort.go
  zh-hant/codes/java/chapter_sorting/merge_sort.java
  zh-hant/codes/javascript/chapter_sorting/merge_sort.js
  zh-hant/codes/kotlin/chapter_sorting/merge_sort.kt
  zh-hant/codes/python/chapter_sorting/merge_sort.py
  zh-hant/codes/ruby/chapter_sorting/merge_sort.rb
  zh-hant/codes/rust/chapter_sorting/merge_sort.rs
  zh-hant/codes/swift/chapter_sorting/merge_sort.swift
  zh-hant/codes/swift/chapter_sorting/quick_sort.swift
  zh-hant/codes/typescript/chapter_sorting/merge_sort.ts
  zh-hant/codes/zig/chapter_sorting/merge_sort.zig
  zh-hant/codes/zig/chapter_tree/binary_search_tree.zig
Labels: code, embellishment

#1373 feat: Add Ruby code - chapter "Backtracking"
  codes/ruby/chapter_backtracking/n_queens.rb
  codes/ruby/chapter_backtracking/permutations_i.rb
  codes/ruby/chapter_backtracking/permutations_ii.rb
  codes/ruby/chapter_backtracking/preorder_traversal_i_compact.rb
  codes/ruby/chapter_backtracking/preorder_traversal_ii_compact.rb
  codes/ruby/chapter_backtracking/preorder_traversal_iii_compact.rb
  codes/ruby/chapter_backtracking/preorder_traversal_iii_template.rb
  codes/ruby/chapter_backtracking/subset_sum_i.rb
  codes/ruby/chapter_backtracking/subset_sum_i_naive.rb
  codes/ruby/chapter_backtracking/subset_sum_ii.rb
  docs/chapter_backtracking/backtracking_algorithm.md
Labels: code

#1370 [Rust] make rust part more idomatic and fix panic of backtrack template
  codes/rust/chapter_array_and_linkedlist/array.rs
  codes/rust/chapter_backtracking/preorder_traversal_i_compact.rs
  codes/rust/chapter_backtracking/preorder_traversal_ii_compact.rs
  codes/rust/chapter_backtracking/preorder_traversal_iii_compact.rs
  codes/rust/chapter_backtracking/preorder_traversal_iii_template.rs
Labels: bug, code

#1378 [feat] Add Ruby code - chapter "Dynamic Programming"
  codes/ruby/chapter_dynamic_programming/climbing_stairs_backtrack.rb
  codes/ruby/chapter_dynamic_programming/climbing_stairs_constraint_dp.rb
  codes/ruby/chapter_dynamic_programming/climbing_stairs_dfs.rb
  codes/ruby/chapter_dynamic_programming/climbing_stairs_dfs_mem.rb
  codes/ruby/chapter_dynamic_programming/climbing_stairs_dp.rb
  codes/ruby/chapter_dynamic_programming/coin_change.rb
  codes/ruby/chapter_dynamic_programming/coin_change_ii.rb
  codes/ruby/chapter_dynamic_programming/edit_distance.rb
  codes/ruby/chapter_dynamic_programming/knapsack.rb
  codes/ruby/chapter_dynamic_programming/min_cost_climbing_stairs_dp.rb
  codes/ruby/chapter_dynamic_programming/min_path_sum.rb
  codes/ruby/chapter_dynamic_programming/unbounded_knapsack.rb
Labels: code

#1379 Finalize Ruby code transpilation
  docs/chapter_heap/heap.md
Labels: code

#1336 Add intial translation of the figures for the chapters of dynamic programming, greedy
  en/docs/chapter_dynamic_programming/dp_problem_features.assets/climbing_stairs_constraint_example.png
  en/docs/chapter_dynamic_programming/dp_problem_features.assets/min_cost_cs_example.png
  en/docs/chapter_dynamic_programming/dp_solution_pipeline.assets/min_path_sum_dp_step1.png
  en/docs/chapter_dynamic_programming/dp_solution_pipeline.assets/min_path_sum_dp_step12.png
  en/docs/chapter_dynamic_programming/dp_solution_pipeline.assets/min_path_sum_solution_initial_state.png
  en/docs/chapter_dynamic_programming/dp_solution_pipeline.assets/min_path_sum_solution_state_definition.png
  en/docs/chapter_dynamic_programming/edit_distance_problem.assets/edit_distance_dp_step2.png
  en/docs/chapter_dynamic_programming/intro_to_dynamic_programming.assets/climbing_stairs_dfs_memo_tree.png
  en/docs/chapter_dynamic_programming/intro_to_dynamic_programming.assets/climbing_stairs_dfs_tree.png
  en/docs/chapter_dynamic_programming/intro_to_dynamic_programming.assets/climbing_stairs_dp.png
  en/docs/chapter_dynamic_programming/intro_to_dynamic_programming.assets/climbing_stairs_example.png
  en/docs/chapter_dynamic_programming/knapsack_problem.assets/knapsack_dfs.png
  en/docs/chapter_dynamic_programming/knapsack_problem.assets/knapsack_dfs_mem.png
  en/docs/chapter_dynamic_programming/knapsack_problem.assets/knapsack_dp_step14.png
  en/docs/chapter_dynamic_programming/unbounded_knapsack_problem.assets/coin_change_dp_step2.png
  en/docs/chapter_dynamic_programming/unbounded_knapsack_problem.assets/coin_change_example.png
  en/docs/chapter_greedy/fractional_knapsack_problem.assets/fractional_knapsack_example.png
  en/docs/chapter_greedy/greedy_algorithm.assets/coin_change_greedy_strategy.png
  en/docs/chapter_greedy/greedy_algorithm.assets/coin_change_greedy_vs_dp.png
  en/docs/chapter_greedy/max_capacity_problem.assets/max_capacity_moving_long_board.png
  en/docs/chapter_greedy/max_capacity_problem.assets/max_capacity_moving_short_board.png
  en/docs/chapter_greedy/max_product_cutting_problem.assets/max_product_cutting_greedy_infer1.png
Labels: translation, documents

#1339 Add intial translation of the figures for the chapters of hashing, tree, and heap
  en/docs/chapter_hashing/hash_map.assets/hash_table_reshash.png
  en/docs/chapter_heap/build_heap.assets/heapify_operations_count.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step1.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step2.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step3.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step4.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step5.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step6.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step7.png
  en/docs/chapter_heap/top_k.assets/top_k_heap_step8.png
  en/docs/chapter_heap/top_k.assets/top_k_traversal.png
  en/docs/chapter_tree/avl_tree.assets/avltree_degradation_from_inserting_node.png
  en/docs/chapter_tree/avl_tree.assets/avltree_degradation_from_removing_node.png
  en/docs/chapter_tree/avl_tree.assets/avltree_right_rotate_step3.png
  en/docs/chapter_tree/avl_tree.assets/avltree_right_rotate_step4.png
  en/docs/chapter_tree/avl_tree.assets/avltree_rotation_cases.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_degradation.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_inorder_traversal.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_insert.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_remove_case1.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_remove_case2.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_remove_case3_step1.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_remove_case3_step2.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_remove_case3_step3.png
  en/docs/chapter_tree/binary_search_tree.assets/bst_remove_case3_step4.png
Labels: translation, documents

#1338 Add intial translation of the figures for the chapters of graph, searching, and sorting
  en/docs/chapter_graph/graph_operations.assets/adjacency_list_step1_initialization.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_list_step2_add_edge.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_list_step3_remove_edge.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_list_step4_add_vertex.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_list_step5_remove_vertex.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_matrix_step1_initialization.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_matrix_step2_add_edge.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_matrix_step3_remove_edge.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_matrix_step4_add_vertex.png
  en/docs/chapter_graph/graph_operations.assets/adjacency_matrix_step5_remove_vertex.png
  en/docs/chapter_searching/binary_search_insertion.assets/binary_search_insertion_naive.png
  en/docs/chapter_searching/replace_linear_by_hashing.assets/two_sum_brute_force.png
  en/docs/chapter_sorting/bubble_sort.assets/bubble_sort_overview.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step1.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step10.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step11.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step12.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step2.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step3.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step4.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step5.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step6.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step7.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step8.png
  en/docs/chapter_sorting/heap_sort.assets/heap_sort_step9.png
  en/docs/chapter_sorting/insertion_sort.assets/insertion_operation.png
  en/docs/chapter_sorting/quick_sort.assets/pivot_division_step4.png
  en/docs/chapter_sorting/quick_sort.assets/pivot_division_step8.png
  en/docs/chapter_sorting/selection_sort.assets/selection_sort_step11.png
  en/docs/chapter_sorting/selection_sort.assets/selection_sort_step8.png
Labels: translation, documents

#1337 Add intial translation of the figures for the chapters of backtracking, divide and conquer, appendix
  en/docs/chapter_backtracking/backtracking_algorithm.assets/backtrack_remove_return_or_not.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step1.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step10.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step11.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step2.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step3.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step4.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step5.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step7.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step8.png
  en/docs/chapter_backtracking/backtracking_algorithm.assets/preorder_find_paths_step9.png
  en/docs/chapter_backtracking/n_queens_problem.assets/n_queens_constraints.png
  en/docs/chapter_backtracking/permutations_problem.assets/permutations_i_pruning.png
  en/docs/chapter_backtracking/permutations_problem.assets/permutations_ii.png
  en/docs/chapter_backtracking/permutations_problem.assets/permutations_ii_pruning.png
  en/docs/chapter_backtracking/subset_sum_problem.assets/subset_sum_i.png
  en/docs/chapter_backtracking/subset_sum_problem.assets/subset_sum_i_pruning.png
  en/docs/chapter_backtracking/subset_sum_problem.assets/subset_sum_ii.png
  en/docs/chapter_divide_and_conquer/hanota_problem.assets/hanota_f3_step1.png
Labels: translation, documents

#1362 fix(Go): Update array_queue.go and array_deque.go
  codes/go/chapter_stack_and_queue/array_deque.go
  codes/go/chapter_stack_and_queue/array_queue.go
  codes/go/chapter_stack_and_queue/queue_test.go
Labels: bug, code
